data_m_accr_with_gps.xlsx
data_parcelles_with_gps.xlsx
data_m_accr_with_swiss_coord.xlsx
data_parcelles_with_swiss_coord.xlsx
Data_from_satellites_images_4_pb1_2.xlsx
Data_from_satellites_images_LFI4_pb1.xlsx
Data_from_satellites_images_LFI4.xlsx